[submodule "protocol"]
	path = protocol
	url = git@github.com:G7DAO/protocol.git

[submodule "nft-inventory"]
	path = nft-inventory
	url = git@github.com:G7DAO/nft-inventory.git

[submodule "achievo-contracts"]
	path = achievo-contracts
	url = git@github.com:G7DAO/achievo-contracts.git
