[submodule "protocol"]
	path = protocol
	url = git@github.com-g7:G7DAO/protocol

[submodule "nft-inventory"]
	path = nft-inventory
	url = git@github.com-g7:G7DAO/nft-inventory

[submodule "achievo-contracts"]
	path = achievo-contracts
	url = git@github.com-g7:G7DAO/achievo-contracts